.form__formBox {
  /* QUESTION: 
  How do I get the form not to disappear 
  behind the header when the page is reloaded? 
  Neither to hide behind the footer?*/
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  /* I'm not sure 'justify-content: center;' 
is the best choice here but space-between seems to have 
no effect. I will use 'gap' instead. */
  justify-content: center;
  align-items: center;
  gap: 12px;
  /*  */
  /* How do I get the text (box labels) to left-align?
  align-content: flex-start; 
  - does not do anything here */
  /*  */
  /* display: grid; doesn't seem to make sense here, either.
  Q: Can a grid have a margin around it?
  
  grid-template-areas: none;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
}

/* Eltern Element Breite und oadding
Kinder Breite 100% (bis zum padding)
(sind dann Prozente vom Elternteil)
Kinder dann Breite in 
dann text-align:  left/start/? */

.form__formBoxLabel {
  display: flex;
  text-align: left;
  justify-items: flex-start;
  /* This is the solution - in order to left-align the labels: 
  I need 'flex-start' rather than 'justify-items'
  rather than justify-items because I"'"m dealing with the cross-axis! 
  This makes the div container 'form__labelTextAreaPair' redundant.
  NO! It doesn't! It still seems only div can left-align the labels.
  But then again - I'mn not using div in the .css file; it is enough 
  to just have it in the html-file. Is this because 'align-content: flex-start;' 
  is the default? Or why else?*/
  /* I think div also serves well to add gaps between label-text box pairs. */
  /*  */
  align-items: flex-start;
  /* How do I get the text (box labels) to left-align?
  It does not work if I add this in .form__formBox, 
  neither in .form__formBoxLabel*/
  /* align-content: flex-start; */
}

/*  */
/* .form__labelTextAreaPair {
  display: flex;
  flex-direction: column;
  align-content: flex-start;
} */

.form__inputBox {
  border: 1px solid var(--black);
  padding: 0.5em;
  padding-top: 0.5em;
  text-align: start;
  position: relative;
}

/* I introduced this class 
in order to make the box only 1 line high; it works not perfectly 
but at least a bit, making the box less high. */
.form__inputBox__tag {
  height: 4em;
}

.form__submitButton {
  background: var(--secondary);
  color: var(--white);
  border: none;
  display: block;
  margin: 0 auto 2rem auto;
  padding: 1rem;
  border-radius: 6px;
}

.form__submitButton:hover {
  opacity: 0.75;
  cursor: pointer;
}

.card__tag-list-item {
  background-color: var(--secondary);
  color: var(--white);
  border-radius: 4px;
  padding: 0 5px;
}
/* 
.card__answer {
  margin: 0 2rem;
  font-style: italic;
  display: none;
}

.card__answer--active {
  display: block;
}

.card__button-bookmark {
  position: absolute;
  right: 1rem;
  top: -1.5rem;
}

.card__button-bookmark {
  position: absolute;
  right: 1rem;
  top: -1.5rem;
}

.card__tag-list {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin-top: 20px;
}

.card__tag-list-item {
  background-color: var(--secondary);
  color: var(--white);
  border-radius: 4px;
  padding: 0 5px;
} */
